html,
body {
  padding: 0;
  margin: 0;
  font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono',
    'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono',
    'Courier New', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button,
input,
textarea {
  font-family: inherit;
}

@media (prefers-color-scheme: light) {
  body {
    color: #000;
    background: #fff;
  }
}

.active-resource {
  background-color: #3140aa;
  padding: 50px;
  text-align: center;
  color: #fff;
}

.active-resource__name {
  font-size: 30px;
}

.time-wrapper__elapsed-time {
  font-size: 64px;
  font-weight: bold;
}
